<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="serverIp" value="192.168.43.247" />
    <add key="serverPort" value="4000" />
    <add key="clientIp" value="192.168.43.134" />
    <add key="clientPort" value="5000" />
  </appSettings>
</configuration>
