<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="serverIp" value="192.168.1.110" />
    <add key="serverPort" value="4000" />
    <add key="remotingPort" value="7000" />
  </appSettings>
</configuration>